<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

  <title>Tedious Tasks</title>
</head>

<body>
  <h1>Tedious Tasks</h1>
  {% if tasks|length == 0 %}
  <h2>No Tasks Exist</h2>

  {% else %}
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Time</th>
        <th>Person</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{task.description}}</td>
        <td>{{task.person}}</td>
        <td>{{task.time}}</td>
        <td><a href="{% url 'task_delete' task.id %}">X</a></td>
      </tr>
      {% endfor %}
      <tr class="last">
        <td class="total"> Total Time</td>
        <td>{{sum}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  {% endif %}
  <hr>


  <h4>Add Task</h4>

  <form action="{% url 'add_task' %}" method="POST" class="pure-form">
    {% csrf_token %}
    {{ task_form.as_p }}
    <button class="pure-button" type="submit"> Add Task</button>
  </form>
</body>

</html>