body {
  text-align: center;
  margin: 2rem;
}
label {
  display: inline-block;
  width: 100px;
  text-align: right;
}
table {
  margin: 2rem auto;
}

table a {
  color: red;
  text-decoration: none;
}
td,tr,th{
  margin:5px;
  padding: 5px;
}
tr:nth-child(odd){
  background-color: rgb(158, 158, 158);
}
thead{
  background-color: grey;
}
tbody,thead, td, th{
  border: 1px solid black;
}
.last, thead{
  font-weight: bold;
}